{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "loose": true,
          "modules": false
        },
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": []
}
